*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    font: inherit; /* reset das fonts */

    -webkit-font-smoothing: antialiased; /* suavizando fontes */
    -moz-osx-font-smooting: grayscale; /* Mozilla */
}

/*================  VARIÁVEIS  ===============================*/
/*----------------  cores  ------------------*/
:root {
    --bg-color:#09090B;
    --surface-color:#18181B;
    --stroke-color:#27272A;
    --text-color-primary:#F4F4F5;
    --text-color-secondary:#A1A1AA;
    --brand-color-primary:#F7B733;
    --brand-color-secondary:#FC4A1A;
/*----------------  fontes  ------------------*/
    /*--- font family ---*/
    --ff-sans:"Inter", sans-serif;
    /*--- font weight ---*/
    --fw-base: 400;
    --fw-md: 500;
    --fw-bold: 800;
    /*--- font size ---*/
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.2rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2.5rem;
    /*--- tamanhos para dispositivos ---*/
    --py-base: 1rem; /* padding eixo y */
    --py-lg:1.5rem; 
    --py-xl: 3rem;
    --px-lg:1.5rem; /* padding eixo x */
}

/*================  PADRÃO DO HTML  ==========================*/
html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--text-color-primary);
}

/*================  PADRÃO DO BODY  ==========================*/
body {
    background-color: var(--bg-color);
}

/*==========  PADRÕES GERAIS h1, h2 e h3  ====================*/
h1, h2, h3 {
    line-height: 1.2;
    color: var(--text-color-primary);
    font-weight: var(--fw-bold);
    letter-spacing: -0.04em;
}

h1 {
    font-size: var(--fs-2xl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-lg);
}

/*--- media queries - responsividade ---*/
@media (width >= 80em) { /* telas maiores */
    :root {
        --fs-lg: 2rem;
        --fs-xl: 3rem;
        --fs-2xl: 4rem;

        --py-base:1.5rem;
        --py-lg:2.5rem; 
        --py-xl: 5rem;
        --px-lg: 2rem;
    }
}

/*===================  PADRÃO DOS LINKS   ====================*/
a {
    text-decoration: none;
    color: inherit;
}

/*===================  PADRÃO DAS LISTAS   ===================*/
ul[role="list"] {
    list-style: none;
}